# Hypothesis Test of the Means:

some points to keep in mind about p-value and hypothesis testing in general: 

• **The interpretation of the p-value :** 

it represents the prob of having a sample mean greater then the null value of H0 or, from  n random samples, given that the H0 is true  ( a conditionned probability ) 
In other words 
        P-value = P(extreme events in favor to alternative hypothesis  | H0 is true ) 



• High P-values: Your sample results are consistent with a true null hypothesis. <br>
• Low P-values: Your sample results are not consistent with a null hypothesis. <br>

• The significance level, also denoted as alpha or α, is the probability of rejecting the null  hypothesis when it is true


• Type 1 error : reject the H0 when the latter is true <br>
• Type 2 error : accept the H0 when the latter is false , in other words , we keep the H0 when we shouldn't <br>


• Type 1 error expressed with propability : 
  P-value = P(typ1 error |H0 is true ) = alpha 
  Increasing alpha -> increase error rate of making a type I error rate!



• **Goal of Increasing alpha (increase type 1 error) :** when we don't  want to fail to reject the H0 when the latter is false <br>
• **Goal of reducing alpha :** when we want to reject the H0 ONLY if we have STRONG evidence  favoring the Ha.

## One sample t-test:

In [ ]:
import numpy as np
import scipy.stats as st

**Two-side test**

Question 1 : the goal of this exercice is to simulate one sample x with normal distribution

- step 1 : create n=10 random values using `np.random.randn` , note that this instruction returns z scores of standard normal
- step 2 : do the inverse transform to get x from these z scores using mu=3 and sigma=2 ( hint : use the forumla of z score ) and store the result in variable x
\begin{equation}
 z= \frac{x-\mu}{\sigma}
\end{equation}


- step 3 : we wish to test if the null hypothesis with a **two-side alternative hypothesis** , run the following and interpret the result , knowing that mu_0 is the mean of the null hypothesis 

``` 
mu_0 = 0
st.ttest_1samp(x, mu_0)

```

- step 4 : forumate the associated null hypothesis $H_{0}$ and alternative hypothesis $H_{a}$

In [ ]:
z=np.random.randn(10)
x=2*z+3

In [ ]:
mu_0 = 0
st.ttest_1samp(x, mu_0)

Ttest_1sampResult(statistic=4.9325384176224265, pvalue=0.0008105069080428197)

In [ ]:
# H0: la moyenne d'un échantillon d'observations indépendantes  est égale à la moyenne de population donnée (mu_0)
# H0: x_barre=mu_0 sachant que x_barre=x.mean()

# Ha: x_barre!=mu_0

# interpretation : on a obtenu pvalue tres petite ,ce qui signifie qu'on doit rejeter l'hypothese H0 
# conclusion: x_barre!=mu_0

In [ ]:
#don't delete this line 
np.random.seed(1234)

Question 2 : now that you know how to use `st.ttest_1samp` , use the forumlas that you learnt during the course to get the same results , here's the step to follow : 

- step 1 : calculate the `mean` and the `standard error` $SE$ 
- step 2 : calculate the t-score using the following forumla :


\begin{equation}
  t = \frac{x-\bar{x} }{ \frac{S}{\sqrt{n} } }
\end{equation}

- step 3 : calculate the probability of `p-value` using `st.t.cdf` , remember that p-value = $2*P(X>tscore)$

In [ ]:
x_barre=x.mean()
SE=st.sem(x, ddof=1)
t=(mu_0-x_barre)/SE 
p = (1 -st. t.cdf(abs(t), 9)) * 2
print(p)

0.0008105069080428517

Question 3: same as the above but with `mu_0 = 1` , `mu_0 = 2`

In [ ]:
mu_0=1
x_barre=x.mean()
SE=st.sem(x, ddof=1)
t=(mu_0-x_barre)/SE 
p = (1 -st. t.cdf(abs(t), 9)) * 2
print(p)

0.010050268032570031

In [ ]:
mu_0=2
x_barre=x.mean()
SE=st.sem(x, ddof=1)
t=(mu_0-x_barre)/SE 
p = (1 -st. t.cdf(abs(t), 9)) * 2
print(p)

0.15298857048804626

**right-tail test**

Question 4 : everything remain the same , except that the p-value is calculated differently , since : 

 p-value = $P(X>tscore)$ 


calculate the p-value with mu_0= 0 , mu_0= 1 , mu_0= 2

In [ ]:
mu_0=0
x_barre=x.mean()
SE=st.sem(x, ddof=1)
t=(mu_0-x_barre)/SE 
p = 1 -st. t.cdf(abs(t), 9)
print(p)

0.0004052534540214259

In [ ]:
mu_0=1
x_barre=x.mean()
SE=st.sem(x, ddof=1)
t=(mu_0-x_barre)/SE 
p = 1 -st. t.cdf(abs(t), 9)
print(p)

0.0050251340162850155

In [ ]:
mu_0=2
x_barre=x.mean()
SE=st.sem(x, ddof=1)
t=(mu_0-x_barre)/SE 
p = 1 -st. t.cdf(abs(t), 9)
print(p)

0.07649428524402313

**left-tail test**

Question 5 : everything remain the same , except that the p-value is calculated differently , since : 

 p-value = $P(X<tscore)$ 


calculate the p-value with mu_0= 0 , mu_0= 1 , mu_0= 2

In [ ]:
mu_0=0
x_barre=x.mean()
SE=st.sem(x, ddof=1)
t=(mu_0-x_barre)/SE 
p = st. t.cdf(abs(t), 9)
print(p)

0.9995947465459786

In [ ]:
mu_0=1
x_barre=x.mean()
SE=st.sem(x, ddof=1)
t=(mu_0-x_barre)/SE 
p = st. t.cdf(abs(t), 9)
print(p)

0.994974865983715

In [ ]:
mu_0=2
x_barre=x.mean()
SE=st.sem(x, ddof=1)
t=(mu_0-x_barre)/SE 
p = st. t.cdf(abs(t), 9)
print(p)

0.9235057147559769

## independent two sample t-test

Question 6 : just like you created your samples in the first question , follow the same steps in order to create x1 and x2 that have the following propreties :

x1 (sample 1 ) : n1 = 10 , mu1 = 3 , sigma1 = 2

x2 (sample 2) :  n2 = 20 , mu2 = 5 , sigma2 = 3

In [ ]:
#make sure to name your variables x1 and x2
n1=10
n2=20
mu1=3
mu2=5
sigma1=2
sigma2=3
x1 = np.random.normal(loc=mu1, scale=sigma1, size=n1)
x2 = np.random.normal(loc=mu2, scale=sigma2, size=n2)

Question 7 : run the following and interpret the results :

In [ ]:
st.ttest_ind(x1,x2,equal_var=False)

Ttest_indResult(statistic=-2.605842662088191, pvalue=0.015557771814983483)

In [ ]:
#si alpha=0.05 ,la pvalue etant plus petite que alpha 
#on doit donc rejeter l'hypothese H0 
#H0: x1_mean=x2_mean

Question 8 : calculate x1_mean , x2_mean  , s1 (unbiased standard deviation) , s2 of the two samples x1 and x2

In [ ]:
x1_mean=x1.mean()
x2_mean=x2.mean()
s1=np.std(x1,ddof=1)
s2=np.std(x2,ddof=1)
print(x1_mean,x2_mean,s1,s2)

2.7126330151064457 5.252355265904492 2.217593091848569 3.0269592254092914

Question 9 : run the function using the descriptive statistics optained in the previous question using  `st.ttest_ind_from_stats ` (i invite you to read the documentation first  ) , also make sure to set `equal_var=False`

In [ ]:
st.ttest_ind_from_stats(x1_mean, s1, n1,x2_mean, s2, n2, equal_var=False)

Ttest_indResult(statistic=-2.605842662088191, pvalue=0.015557771814983483)

## Paired two sample t-test

Question 10 : Simulate two samples of size **n=10** with Normal distribution. to do so : 

- step 1 : create x1 using the same method as described in question1 with mu=3 , sigma=2
- step 2 : create a "noisy" distribution derived from x1 using the following formula : 
                    x2 = x1 + np.random.randn(n) + 1
                    
(Notice that the x2 is created by adding some 'noise' to the x1)

So,'one to one' relation is established.

In [ ]:
mu=3
sigma=2
n=10
x1 = np.random.normal(loc=mu, scale=sigma, size=n)
x2 = x1 + np.random.randn(n) + 1

Question 11 : 
run the following line and interpret the results

In [ ]:
# Two tail test.
st.ttest_rel(x1,x2)

Ttest_relResult(statistic=-3.077797789754085, pvalue=0.013186793701508348)

In [ ]:
#si alpha =0.05 ,etant donnée que pvalue 0.013 est inferieure à alpha 
# on conclue donc ,qu'il faut rejeter l'hypothese H0
# H0: x1_mean=x2_mean=mu

Question 12 : Compare with the indepdent two sample t-test on the same dataset.

In [ ]:
st.ttest_ind(x1,x2,equal_var=False)

Ttest_indResult(statistic=-0.9514401168973577, pvalue=0.3541808856827501)

In [ ]:
#le resultat n'est vraiment pas le meme ,vu qu'ici on a pvalue superieur à alpha 
#on ne rejete pas l'hypothese H0 ,qui stipule que les moyennes sont identiques 

#vu qu'ici on a x1 et x2 dependant ,à mon avis il n'est pas judicieux d'appliquer le test independant (ttest_ind)

## ANOVA

There are three groups of students. The data corresponds to the test scores. Determine whether there is any significant difference in the group test scores.

In [ ]:
# Data.
x1 = np.array([82,93,61,74,69,70,53])
x2 = np.array([71,62,85,94,78,66,71])
x3 = np.array([64,73,87,91,56,78,87])

In [ ]:
# Using the f_onway() function from the SciPy library.
res=st.f_oneway(x1,x2,x3)
print("Test statistic  : %f " % res[0] )
print("p-value         : %f " % res[1] )

Test statistic  : 0.283726
p-value         : 0.756278

In [ ]:
#si alpha=0.05 ,ici la pvalue est bien superieur à alpha 
# on ne rejete donc pas l'hypothese HO ,qui stipule que les moyennes des groupes sont identiques 
# en d'autres termes , il n'y pas de différence significative dans les résultats des tests de groupe.

# Summarizing categorical variables:

In [ ]:
import pandas as pd 
df = pd.read_csv('data_studentlist.csv', header='infer',encoding = 'latin1')

## Frequency table (One way table):

In [ ]:
# Categorical variables.
bloodType = df['bloodtype']
gender = df['gender']

get the frequency table of bloodtype

In [ ]:
bloodType.value_counts()

B     5
O     5
A     4
AB    3
Name: bloodtype, dtype: int64

get the frequency table of gender

In [ ]:
gender.value_counts()

M    10
F     7
Name: gender, dtype: int64

get the normalized frequency table of bloodtype

In [ ]:
bloodType.value_counts(normalize=True)

B     0.294118
O     0.294118
A     0.235294
AB    0.176471
Name: bloodtype, dtype: float64

same as the above for gender

In [ ]:
gender.value_counts(normalize=True)

M    0.588235
F    0.411765
Name: gender, dtype: float64

##  Contingency table (Two way table):

get the Contingency table using `pd.crosstab`

In [ ]:
pd.crosstab(bloodType,gender)

gender     F  M
bloodtype
A          2  2
AB         1  2
B          1  4
O          3  2

in order to get Contingency table with marginalization , set the parameter `margins=True`

In [ ]:
pd.crosstab(bloodType,gender,margins=True)

gender     F   M  All
bloodtype
A          2   2    4
AB         1   2    3
B          1   4    5
O          3   2    5
All        7  10   17

# Hypothesis Test of proportions:

## Chi-squared Tests:

###  For one way table

Suppose we have a frequency table of *eye color* of 592 adults. <br>
Let us carry out the Chi-squared tests.

In [ ]:
# Data.
data = np.array([220, 215, 93,64])

- step 1  : create a series with data , and set the table `['Brown','Blue','Hazel','Green']` as index

In [ ]:
eye=pd.Series(data,index=['Brown','Blue','Hazel','Green'])
print(eye)

Brown    220
Blue     215
Hazel     93
Green     64
dtype: int64

Question 13 : create a Table of proportions. to do so , divide your series by the sum of the frequencies

In [ ]:
eye.value_counts(normalize=True)

215    0.25
93     0.25
220    0.25
64     0.25
dtype: float64

Question 14 : Compare with the default model of equal frequencies. ( in other words , calculate the chisquare of your series using `st.chisquare`

In [ ]:
st.chisquare(f_obs=eye )

Power_divergenceResult(statistic=133.47297297297297, pvalue=9.650879774148268e-29)

In [ ]:
#pvalue est tres petite ,ce qui signifie qu'on doit rejeter l'hypothese H0 
#H0:  les données catégorielles ont les fréquences données.
#conclusion :les echantillons n'ont pas les memes fréquences de couleurs des yeux  comme dans la population

Question 15 : the following is a model provided by the user that tries to approximate the frequencies

In [ ]:
my_model = len(eye)*[np.mean(eye)]
print(my_model)

[148.0, 148.0, 148.0, 148.0]

run the following and describe the result :

In [ ]:
st.chisquare(f_obs=eye,f_exp = my_model)

Power_divergenceResult(statistic=133.47297297297297, pvalue=9.650879774148268e-29)

In [ ]:
#pvalue superieur à alpha ,donc on ne rejete pas l'hypothese H0 
#H0:  les données catégorielles ont les fréquences données.

let's test with a more realistic model :

In [ ]:
my_model = eye.sum()*np.array([0.40,0.33,0.15,0.12])

run the following and describe the result. what do you conlcude about the two proposed models ?

In [ ]:
st.chisquare(f_obs=eye,f_exp = my_model )

Power_divergenceResult(statistic=4.06265356265356, pvalue=0.25477767063672113)

In [ ]:
#ce modele est plus realiste car 
# ici pvalue est grande et donc on ne rejete pas l'hyothese H0 qui stipule que les données categorielles ont les frequences données

##  For two way table:

Suppose we have a contingency table of *eye color* vs *hair color* of 592 adults. <br>
Let us carry out the Chi-squared test for independence.

In [ ]:
# Data.
# Row label    = hair color.
# Column label = eye color. 
data_eye = {'Brown': [68,119,26,7], 'Blue':[20,84,17,94], 'Hazel':[15,54,14,10], 'Green':[5, 29, 14,16]}
data = pd.DataFrame(data_eye,index=['Black','Brown','Red','Blonde'])
data

        Brown  Blue  Hazel  Green
Black      68    20     15      5
Brown     119    84     54     29
Red        26    17     14     14
Blonde      7    94     10     16

run the following to get Chi-square test of independence of variables in a contingency table. what do you conclude about the relationship between these two categorical variables ?

In [ ]:
st.chi2_contingency(data)

(138.28984162600824,
 2.325286787098839e-25,
 9,
 array([[ 40.13513514,  39.22297297,  16.96621622,  11.67567568],
        [106.28378378, 103.86824324,  44.92905405,  30.91891892],
        [ 26.38513514,  25.78547297,  11.15371622,   7.67567568],
        [ 47.19594595,  46.12331081,  19.95101351,  13.72972973]]))

In [ ]:
#pvalue est tres petite ,donc on rejete l'hypothese H0 
#H0: les frequences des categories d

Suppose we have a contingency table of the room class vs survived from RMS Titanic.
Let us carry out the Chi-squared test for independence.

In [ ]:
# Data.
# Row label    = room class.
# Column label = survived. 
data_survived = {'Yes':[122, 167, 528, 673], 'No':[203,118,178,212]}
data = pd.DataFrame(data_survived,index=['1st','2nd','3rd','Crew'])
data

      Yes   No
1st   122  203
2nd   167  118
3rd   528  178
Crew  673  212

run the following to get Chi-square test of independence of variables in a contingency table. what do you conclude about the relationship between these two categorical variables ?

In [ ]:
st.chi2_contingency(data)

(190.40110361683327,
 4.999927529868003e-41,
 3,
 array([[220.01363017, 104.98636983],
        [192.93502953,  92.06497047],
        [477.93730123, 228.06269877],
        [599.11403907, 285.88596093]]))