## Quiz #0102

#### Use a lambda function and map() to answer the following questions.

1). Add 1 to each element of the list 'a' and create another list. <br>

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

x=lambda l:l+1
result=[]
for i in range(len(a)):
  y=x(a[i])
  result.append(y)
print(result)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

2). Multiply element-wise the lists 'a' and 'b'. Show the result as another list.

a = [2, 4, 6, 8, 10]

b = [10, 8, 6, 4, 2]

In [22]:
a = [2, 4, 6, 8, 10]
b = [10, 8, 6, 4, 2]
result=list(map(lambda a,b:a*b,a,b))
print(result)

[20, 32, 36, 32, 20]

#### Use a lambda function and filter() to answer the following questions.

3). Find the multiples of 5 in the range 1~100. Show the result as a list.

In [24]:

filtered=filter(lambda x:x%5==0,range(1,100))
result=list(filtered)
print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

4). In the following list, find the values larger than 160. Show the result as a list.

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [25]:
a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]
filtered=filter(lambda x:x>160,a)
print(list(filtered))

[160.3, 171.6, 165.34, 167.2, 161.1, 164.9]

5). In the following list, find the values larger than 160 and smaller than 165. Show the result as a list.

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [26]:
a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]
filtered=filter(lambda x:x>160 and x<165,a)
print(list(filtered))

[160.3, 161.1, 164.9]

6). In the following list of names, extract only those stargin with 'J'. Show the result as a list.

a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']

In [28]:
a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']
filtered=filter(lambda x: x[0]=="J",list(a))
print(list(filtered))

['Jack', 'Jennifer', 'John']