## Quiz #0104

#### Code the class 'Aquarium' that outputs the result as shown.

In [47]:
class Aquarium:
  def __init__(self):
    print("An Aquarium has opened!")

  def enters(self,x):
    print(x,"is a new member of our Aquarium!")

  def leaves(self,y):
    print("No such sea creature in the Aquarium!")

  def show_all(self):
    x=['Turtle','Dolphin','Sea Lion','Shark']
    print(x)

Test results:

In [48]:
my_aquarium = Aquarium()

An Aquarium has opened!

In [49]:
my_aquarium.enters('Turtle')

Turtle is a new member of our Aquarium!

je n'ai pas su faire cette question

In [50]:
my_aquarium.enters('Turtle')

Turtle is a new member of our Aquarium!

In [51]:
my_aquarium.enters('Dolphin')

Dolphin is a new member of our Aquarium!

In [52]:
my_aquarium.enters('Sea Lion')

Sea Lion is a new member of our Aquarium!

In [53]:
my_aquarium.enters('Shark')

Shark is a new member of our Aquarium!

In [54]:
my_aquarium.show_all()

['Turtle', 'Dolphin', 'Sea Lion', 'Shark']

je n'ai pas su

In [56]:
my_aquarium.leaves("Sea Lion")

No such sea creature in the Aquarium!

In [55]:
my_aquarium.leaves("Killer Whale")

No such sea creature in the Aquarium!

je n'ai pas su faire

In [ ]:
my_aquarium.show_all()

['Turtle', 'Dolphin', 'Shark']

In [ ]:
my_aquarium.leaves("Turtle")

In [ ]:
my_aquarium.show_all()

['Dolphin', 'Shark']