# Exercice 1

Write a Python function to find the Max of three numbers.

In [3]:
def max(x,y,z):
  if x>y and x>z:
    print("maximum:",x)
  elif y>z:
    print("maximum:",y)
  else:
    print("maximum:",z)
max(4,2,3)

maximum: 4

# Exercice 2

Write a Python function to sum all the odd numbers in a list

In [8]:
mylist=[2,1,5,7]
s=0
for x in mylist:
  for n in range(0,1000):
    if x==2*n+1:
      s+=x
print(s)

13

# Exercice 3

Write a Python function that takes a list and returns a new list with unique elements of the first list.



```
Sample List : [1,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

```

In [65]:
sample=[1,2,3,3,3,3,4,5]
a=set(sample)
b=list(unique)
unique=list(b)
print(unique)

[1, 2, 3, 4, 5]

# Exercice 4

Write a Python program to print out a set containing all the elements from list_1 which are not present in list_2. 


```
Test Data :
list_1 = set(["Jhon", "Adam", "Eva"])
list_2 = set(["Adam", "Green"])
Expected Output :
{'Jhon','Eva'}
```

In [13]:
list_1 = set(["Jhon", "Adam", "Eva"])
list_2 = set(["Adam", "Green"])
result=[]
for x in list_1:
  if x not in list_2:
    result.append(x)
print(set(result))

{'Eva', 'Jhon'}

# Exercice 6

Write a Python program to reverse a string

In [53]:
mot="python"
l=list(mot)

x=int(len(l)/2)
for i in range(0,x):

  a=l[i]
  l[i]=l[-(i+1)]
  l[-(i+1)]=a
  
str1 = ''.join(str(e) for e in l)
print(str1)

nohtyp

In [26]:
mot='python'
list1=list(mot)
list1.reverse()
mot=''.join(str(e) for e in list1)
print(mot)

nohtyp

# Exercice 7

Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [76]:
def upper_lower(x):
  y=list(x)
  u=0
  for i in y:
    if i.isupper()==True:
      u+=1
  l=int(len(x))-u
  print("number of upper case letters is :",u)
  print("number of lower case letters is :",l)
upper_lower("Test")

number of upper case letters is : 1
number of lower case letters is : 3

# Exercice 8

Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically. 
```
Sample Items : green-red-yellow-black-white
Expected Result : black-green-red-white-yellow
```

In [82]:
sample=[n for n in input().split('-')]
sample.sort()
print('-'.join(sample))

green-red-yellow-black-white
black-green-red-white-yellow

# Exercice 9

Using **filter()** function, filter the list so that only negative numbers are left.

filter(function, sequence)
Parameters:
function: function that tests if each element of a 
sequence true or not.
sequence: sequence which needs to be filtered, it can 
be sets, lists, tuples, or containers of any iterators.
Returns:
returns an iterator that is already filtered.

In [12]:
# sequence
sequence =[1,-1,2,-2,3,-3,4,-4]

# function that filters only negative numbers
def neg(numbers):
  result=[]
  for x in numbers:
    if x<=0:
      result.append(x)
  return result
  
# using filter function
filtered = filter(neg, sequence)
  
print('The filtered sequence are:')
for s in filtered:
    print(s)

The filtered sequence are:

TypeError: ignored

In [13]:
# function that filters only negative numbers
numbers = [1,-1,2,-2,3,-3,4,-4]
result=[]
def neg(numbers):
  for x in numbers:
    if x<=0:
      result.append(x)
  return result
neg(numbers)

[-1, -2, -3, -4]

# Exercice 10

Using **filter()** and **list()** functions and **.lower()** method filter all the vowels in a given string.

In [11]:
# sequence
string="samsung"
l = list(string)

# function that filters vowels
def filter_vowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(letter in vowels):
        return True
    else:
        return False

filtered_vowels = filter(filter_vowels, l)

print('The filtered vowels are:')
for vowel in filtered_vowels:
    print(vowel)

The filtered vowels are:
a
u

# Exercice 11

Write a Python program to clone or copy a list (hint : use ``` copy library ```  ) then print the old and new id number using id()

In [ ]:
import copy

# Exercice 12


Write a Python program to map two lists into a dictionary

```
sample input : 
["A","B","C"]
[1,2,3]
output : 
{"A":1,"B":2,"C":3}
```

In [41]:
list1=["A","B","C"]
list2=[1,2,3]
dictionary = dict(zip(list1,list2))
print(dictionary)

{'A': 1, 'B': 2, 'C': 3}

# Exercice 13 

Write a Python program to remove spaces from dictionary keys.

```
sample input : 
{"A   " : 1," B":2,"  C  ":3}
output: 
{"A":1,"B":2,"C":3}

In [137]:
mydict={"A   " : 1," B":2,"  C  ":3}
mydict= {k.replace(" ",""): v for k,v in mydict.items()}
print(mydict)

{'A': 1, 'B': 2, 'C': 3}

# Exercice 14

Add a list of elements to a given set.

- Explain why add function is not a good choice.

In [86]:
myset={"AI","Data Science","Machine Learning","Deep learning"}
mylist=[1,2,3]
myset.update(mylist)
print(myset)

{1, 2, 3, 'Data Science', 'Deep learning', 'Machine Learning', 'AI'}

# Exercice 15

Write a Python program to calculate the time runs (difference between start and current time) of a program. (consider using the ``` time ``` library ).

In [85]:
import timeit

start = timeit.default_timer()

list_1 = set(["Jhon", "Adam", "Eva"])
list_2 = set(["Adam", "Green"])
result=[]
for x in list_1:
  if x not in list_2:
    result.append(x)


stop = timeit.default_timer()

print('Time: ', stop - start)

Time:  0.00019631400027719792

# Exercice 16

write a program that shuffle and print a given list (hint : use the library ``` random ``` )

In [133]:
from random import shuffle
mylist=["a","b","c","d","e","f"]
shuffle(mylist)
print(mylist)

['c', 'd', 'b', 'a', 'f', 'e']

# Exercice 17
Write the definition of a Point class. Objects from this class should have a

- a method show to display the coordinates of the point
- a method move to change these coordinates.
- a method dist that computes the distance between 2 points.
Note the distance between 2 points A(x0, y0) and B(x1, y1) can be compute as follows
$d(A,B)=\sqrt{(x_{1}-x_{0})^{2} + (y_{1}-y_{0})^{2} }$

this is the expected result

```
p1 = Point(2, 3)
>>> p2 = Point(3, 3)
>>> p1.show()
(2, 3)
>>> p2.show()
(3, 3)
>>> p1.move(10, -10)
>>> p1.show()
(12, -7)
>>> p2.show()
(3, 3)
>>> p1.dist(p2)
1.0
```

Point class definition:

In [129]:
import math 

class Point:
  def __init__(self,x,y):
    self.x=x
    self.y=y 

  def show(self):
    x=self.x
    y=self.y
    l=[x,y]
    print(tuple(l))

  def move(self,i,j):
    l=self.x+i
    m=self.y+j
    k=[l,m]
    print(tuple(k))

  def dist(self,p):
    a=(self.x-p.x)**2
    b=(self.y-p.y)**2
    print(math.sqrt(a+b))
    
   
p1=Point(2,3)
p1.show()
p2=Point(3,3)
p2.show()
p1.move(10,-10)
p2.show()
p1.dist(p2)

(2, 3)
(3, 3)
(12, -7)
(3, 3)
1.0

# Exercice 18
 implement a Matrix class that has the following functions : 

- **size**: return the number of rows, and number of columns
- **get_cell**: that take the number of rows, the number of columns as parameters, and returns the content of cell corresponding to row number col number
- **set_cell**: that take the number of rows, the number of columns as parameters, and a value and set the value val in cell specified by row number x column number
- **to_str**: return a string representation of the matrix
- **mult**: that take a scalar and return a new matrix which is the scalar product of matrix x val

expected result : 




```
m1 = Matrix(row=2, col=3,val=4)
>>> print(m1)
4 4 4
4 4 4
m2 = Matrix(row=2, col=2)
>>>print(m2)
None None
None None
>>> m1.mult(2)
>>> print(m1)
8 8 8
8 8 8
>>> m1.set_cell(1,1,-1)
>>> print(m1)
8 8 8
8 -1 8
>>> m1.size()
(2,3)


```

In [40]:
class Matrix:
  def __init__(self,row,col,val=None):
    self.row=row
    self.col=col
    self.val=val
    for i in range(row):
      c = [val] * col
      print(c)

  def size(self):
    return self.row, self.col

  
  

m1 = Matrix(row=2,col=3,val=4)
print(m1)
m2 = Matrix(row=2, col=2)
print(m2)
m1.size()

[4, 4, 4]
[4, 4, 4]
<__main__.Matrix object at 0x7f7087c1cbd0>
[None, None]
[None, None]
<__main__.Matrix object at 0x7f7087c6f510>

(2, 3)

# Exercice 19

- Write a Python program to read an entire text file
- Write a Python program to read first n lines of a file
- Write a Python program to append text to a file and display the text
- Write a Python program to read a file line by line and store it into a list
- Write a python program to find the longest words.
- Write a Python program to count the frequency of words in a file.
- Write a Python program that creates a file where all letters of English alphabet are listed by n number of letters on each line. The example below is the expected result for n=3

```
words1.txt
ABC
DEF
GHI
JKL
MNO
PQR
STU
VWX
YZ
```