Exercise 1:
Write a Python program to print all odd numbers from a given numbers list in the same order and stop the printing if 100 appears. Sample numbers list : numbers = [ 286, 1562, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 327, 615, 953, 345,  399, 162, 297, 100, 146,237,999,412,426  ]

In [62]:
numbers = [ 286, 1562, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 327, 615, 953, 345, 399, 162, 297, 100, 146,237,999,412,426 ]
for x in numbers:
  if x==100:
    break
  for n in range(int(1563/2)):
     if x==2*n+1:
      print(x)

47
907
375
823
597
327
615
953
345
399
297

Exercise 2:
Write a Python program to print out a set containing all the elements from list_1 which are not present in list_2. 

Test Data :
list_1 = set(["Jhon", "Adam", "Eva"])
list_2 = set(["Adam", "Green"])
Expected Output :
{'Jhon',’Eva}

In [63]:
list_1 = set(["Jhon", "Adam", "Eva"])
list_2 = set(["Adam", "Green"])
result=[]
for x in list_1:
  if x not in list_2:
    result.append(x)
print(set(result))

{'Eva', 'Jhon'}

Exercise 3:
Write a Python program to check whether a variable is of float or boolean, in a single line of code, and please use : “isinstance”.

In [64]:
x=isinstance('a',(float,bool))
x

False

Exercise 4:
Write a Python program to calculate the time runs (difference between start and current time) of a program

In [65]:
import timeit

start = timeit.default_timer()

import numpy as np
original_array_1=np.array([0,1,2])
original_array_2=np.array([2,1,0])
covariance=np.stack((original_array_1,original_array_2),axis=0)

stop = timeit.default_timer()

print('Time: ', stop - start)

Time:  0.0004159519994573202

Question 5:
Add a list of elements to a given set.

In [66]:
myset={"AI","Data Science","Machine Learning","Deep learning"}
mylist=[1,2,3]
myset.update(mylist)
print(myset)

{1, 2, 3, 'Data Science', 'Machine Learning', 'Deep learning', 'AI'}

Question 6:
Return a set of identical items from a given two Python set.

In [67]:
set1={1,2,4,7,9,5,0,"a"}
set2={2,"a",True,0}
ret=[]
for x in set1:
  if x in set2:
    ret.append(x)
print(set(ret))

{0, 1, 2, 'a'}

In [68]:
import numpy as np
array1=np.array([[1,2],[3,4]],dtype=np.float64)
array2=np.array([[5,6],[7,8]],dtype=np.float64)
array3=array1+array2
print("addition",array3)
array4=array2-array1
print("soustraction",array4)
array5=np.dot(array1,array2)
print("multiplication",array5)

addition [[ 6.  8.]
 [10. 12.]]
soustraction [[4. 4.]
 [4. 4.]]
multiplication [[19. 22.]
 [43. 50.]]

In [69]:
import pandas as pd 
dict1={1:"Apple",2:"orange"}
serie=pd.Series(dict1)
print(serie)

1     Apple
2    orange
dtype: object

In [70]:
import numpy as np
array1=np.array([[1,2,3],[4,5,6],[7,8,9]])
data=pd.DataFrame(array1,columns=list("ABC"))
print(data)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9